<!DOCTYPE html>
<html>
<head lang="en">
  <title>Imparter</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="http://vjs.zencdn.net/4.12/video-js.css" rel="stylesheet">
<script src="http://vjs.zencdn.net/4.12/video.js"></script>
<style type="text/css">
  .vjs-default-skin { color: #116a9c; }
  .vjs-default-skin .vjs-play-progress,
  .vjs-default-skin .vjs-volume-level { background-color: #0f5880 }
  .vjs-default-skin .vjs-control-bar,
  .vjs-default-skin .vjs-big-play-button { background: rgba(174,214,227,0.7) }
  .vjs-default-skin .vjs-slider { background: rgba(174,214,227,0.2333333333333333) }
  .video-js {padding-top: 56.25%;}
  .vjs-fullscreen {padding-top: 0px;}
</style>
</head>
<body>
<div class="page-wrap"> 
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <h1><%= link_to 'Imparter', root_path %></h1>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      	<li>
         <%= link_to 'See All Courses', courses_path %> 
        </li>
      </ul>
        
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
        <% else %>
          <li><%= link_to 'Log in', new_user_session_path %></li>
          <li><%= link_to 'Sign up', new_user_registration_path %></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
  </nav>
  <!-- Alert user when log in successful or failed -->
  <% if notice.present? %>
    <p class="alert alert-info"><%= "User successfully signed in" %></p>
  <% end %>
  <% if alert.present? %>
    <p class="alert alert-danger"><%= "User credentials invalid" %></p>
  <% end %>

<%= yield %>
</div>
  <!-- Sticky footer -->
<footer class="navbar navbar-inverse footer-columns col-xs-12 col-xs-offset-1 text-center">
    <ul class="column1 col-sm-6">
      <li class="title">Teachers</li>
      <li><%= link_to 'Teach a Course', new_instructor_course_path %></li>
      <li><%= link_to 'Dashboard', instructor_courses_path %></li>
    </ul>
    <ul class="column2 col-sm-6">
      <li class="title">About</li>
      <li class="title">Contact</li>
      <li><a href="#">Chris McIntyre</a></li>
    </ul>
</footer

</body>
</html>
